body{
    font-family: 'Roboto', sans-serif;
	background-color: #DADADA;
	font-size: 20px;	
}

.game{
	margin-bottom: 30px;
}

.nivel1{
	margin-left: 40px;
}

.container{
	padding-left: 100px;
}

.corpo-rank{
	width: 500px;
	margin: 0 auto;
}

.topo input{
	width: 70%;
	border: 2px solid #fff;
	font-size: 20px;
	line-height: 36px;
	background-color: #DADADA;
	padding: 10px;		
}

.topo button{
	width: 26%;
	background-color: #646363;
	border: 2px solid #646363;
	font-size: 20px;
	line-height: 36px;
	padding: 10px;
	margin: -7px !important;
	color: #F7A600;
}

table{
	width: 100%;
	margin-top: 30px;
	font-size: 20px;	
	border-collapse: collapse;
}

table th img{
	width: 30px;
	margin-top: 5px;	
	float: left;
}

table th{
	background-color: #F7A600;
	color: #000;
	font-size: 24px;
	padding: 10px;
	line-height: 40px;
	border: 0px solid #000;	
}

table th:first-child {
	text-align: left;
	width: 75%;
}

table tr:nth-child(2n+1) {
    background: #7C7B7B;
}

table tr:nth-child(2n+2) {
    background: #646363;
}

table td{
	padding: 5px 0px 5px 10px;
	color: #fff;
	height: 40px;
	vertical-align: bottom;	
}

table td:nth-child(2n+2) {
    text-align: center;
    font-weight: bold;
}

.neg{
	color: #F7A600;
}